body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fdf3e9 ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
     color: #012325;
}

    main{
    padding: 0 5vw;
}


.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 13vh;
    background-color:#fdf3e9 ;
    color:  rgb(4, 43, 46);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    border-bottom:  #042b2e solid 0.5px;
    color: #012325;
      font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.logo{
     font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style:normal;
  font-size: 2rem;
  margin-right: 5rem;
}
.navbar input{
    width: 40vw;
    border-radius: 9px;
    border-style: none;
    height: 3rem;
      font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
    margin-left: 10vw;
    background-color: #f8e4d2;
    color: #042b2e;
}

.navbar input::placeholder{
    padding: 2%;
    color: #012325;
}

.navbar ul {
    display: flex;
    gap: 10%;
    list-style: none;
    margin-right: 8vw;

}

.navbar ul li a{
    font-weight: 600;
    text-decoration: none;
    color: #012325;
}

.navbar ul li a:hover{
    border-bottom: solid 2px #012325;
    padding-bottom: 3px;
}

.navbar ul li a:active{
    border-bottom: solid 2px #012325;
    padding-bottom: 3px;
}
.cart-btn{
    padding: 0.8rem;
    margin: 0 20px;
    border-radius: 9px;
    cursor: pointer;
}
.fas{
    color: #012325;
    font-size: 22px;
    
} 
footer{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30%;
    width: 100%;
    min-height: 60vh;
    background-color: rgb(4, 43, 46);
    color:  rgb(217, 247, 242);

}

footer h2{
   font-weight: 800;
}

footer ul{
   list-style: none;
}

footer .socials a{
    text-decoration: none;
}