body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fdf3e9 ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
     color: #012325;
}

    main{
    padding: 0 6%;
}


.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 13vh;
    background-color:#fdf3e9 ;
    color:  rgb(4, 43, 46);

    z-index: 5;
    border-bottom:  #042b2e solid 0.5px;
    color: #012325;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0 6%;
}

.navbar a{
    text-decoration: none;
}
a .logo {
    text-decoration: none;
    color: #012325;
     font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style:normal;
  font-size: 2rem;
  margin-right: auto;
}
.navbar input{
    width: 40vw;
    border-radius: 9px;
    border-style: none;
    height: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10vw;
    background-color: #f8e4d2;
    color: #042b2e;
    padding: 1%;
}

.navbar input::placeholder{
    padding: 2%;
    color: #012325;
}

.navbar ul {
    display: flex;
    gap: 10%;
    list-style: none;
    margin-right: 8vw;

}

.navbar ul li a{
    font-weight: 600;
    text-decoration: none;
    color: #012325;
}

.navbar ul li a:hover{
    border-bottom: solid 2px #012325;
    padding-bottom: 3px;
}

.navbar ul li a:active{
    border-bottom: solid 2px #012325;
    padding-bottom: 3px;
}


.desk-cart-btn{
    padding: 0.8rem;
    margin-left:20px;
    border-radius: 50%;
    cursor: pointer;
    margin-left:auto;

}
.desk-cart-btn:hover{
    border: #042b2e solid 1px;
}
.fas{
    color: #012325;
    font-size: 22px;
    
} 

.navbar .ham{
    display: none;
        color: #012325;
    font-size: 20px;
    
}

.hero{
    background:linear-gradient(
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)
),url(Asset/beautiful-black-girl-with-shopping-bags-city.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 95vh;
    width: 100%;
    position: relative;
    border-radius: 20px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0px;
    color: #f8e4d2;
     margin-bottom: 10vh ;
}
 .hero .text{
      font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5em;
 }

 .hero p{
          font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  color: #012325;
  background-color: #f8e4d2;
  border-radius: 999px;
  padding: 1em;
 }

 .category-section{
  display: flex;
  flex-direction: column;
  margin: 10vh 0 ;
 }

 .categories{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  width:100%;
 }

 .category{
  width:8rem;
  height: 8rem;
  border-radius: 20px ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  color: #f39c12;
  overflow: hidden;
 }


  .category h1{
    font-size: 1rem;
    text-align: center;
    font-weight: 900;
    text-transform: capitalize; 
    width: 100%;
    display: none;
  }

  .category:nth-child(1){
  background: url(Asset/brock-wegner-7yONARoUsbY-unsplash.jpg);
  background-size: cover;
}

.category:nth-child(2){
  background: url(Asset/female-dress.jfif);
  background-size: cover;
}

.category:nth-child(3){
  background: url(Asset/menAces.jpg);
  background-size: cover;
}


.category:nth-child(4){
  background: url(Asset/femaleAces.jpg);
  background-size: cover;
}


.category:nth-child(5){
  background: url(Asset/bag.jpg);
  background-size: cover;
  background-position:left;
}


.category:nth-child(6){
  background: url(Asset/perfume.jpg);
  background-size: cover;
  background-position:right;
}

.category:nth-child(7){
  background: url(Asset/mens-shoe.jfif);
  background-size: cover;
}

.category:nth-child(8){
  background: url(Asset/women\ shoe.jfif);
  background-size: cover;
}

 .products-section{
    margin: 10vh 0;
 }
.small-p{
    border:  solid #042b2e; 
    width: auto;
     border-width:0 0 0 16px;
     border-radius: 0.5em;
    display: inline;
    padding: 2px 4px;
    font-weight: 600;
}

.products-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:5%;
   width:100%;
  padding: 0;
  margin: 5vh 0;
}

.product-card{
    width:auto;
    height:60vh;
      display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.product-img{
    background-color:#f8dec7;
    width: 100%;
    height: 60%;
    border-radius:5px;
}


.product-info {
  flex: 1;
  margin-bottom: 1rem;
}

.product-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.product-description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.product-pricing {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #222;
}

.old-price {
  font-size: 0.9rem;
  text-decoration: line-through;
  color: #999;
}

.rating {
  font-size: 0.85rem;
  color: #f39c12;
}

.product-card button{
    width: 100%;
    border: none;
    background-color: #042b2e;
    border-radius:5px;
    height: 10%;
    margin-top: auto;
    color: #f8dec7;
}


footer{
    background-color:#042b2e;
    height: 40vh;
    padding: 0 5vw;
    font-family: "Poppins", sans-serif;
    padding-top: 3%;
    color: #f8e4d2;
    text-align: left;
        display: flex;
    flex-direction:column;
    justify-content: space-between;

}

footer h2{
   font-weight: 800;
}

footer .me {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border-top:#f8dec7 1px solid ;
}
footer ul{
   list-style: none;
   display: flex;
   gap: 2em;
   
}

footer .socials a{
    text-decoration: none;
}

footer .fab{
    font-size: 15px;
    margin: 0;
    color: #f8e4d2;
    padding: 2px;
    border-radius: 2px;
    
}
footer .fab:hover{
color: #042b2e;
 background-color:#f8dec7
}

footer .me p{
    font-size: 1rem;
    margin-top: auto;
}
.mob-cart-btn{
    display: none;
}


.cart-container{
  width: 100vw;
  height: 100vh;
  z-index: 6;
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
      background:linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5));
  display: none;
  justify-content: center;
  align-items: center;
 
}

.cart{
  width: 80vw;
  height: 80vh;
  background-color: #f8dec7;
  border-radius: 20px;

}
.cart .cart-top{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
  margin: 5vh;
}
.cart .close-cart-icon{
  
}
.sidenav{
  display: none;
}
@media (max-width: 500px) {
  /* Styles for phones like iPhone SE, small Androids */
  .navbar input{
    display: none;
  }

  .navbar ul {
    display: none;
  }

  .cart-btn{
    display: none;
  }
  
  .navbar{
    justify-content: space-between;
    
  }
  
  .navbar .ham{
    display: inline;
        color: #012325;
    font-size: 30px;
        padding: 4px 6px;
    border-radius: 4px;
    }
    
     .navbar .ham:hover{
        color: #f8dec7;
        background-color:#042b2e; 
    }
    
.hero{
    width: 100%;
    height: 95vh;
   
}
 .hero .text{

  font-size: 3em;
 }

 .hero p{
  font-size: 0.6em;
 }

 .categories{
 display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  width:100%;
 }

 .category{
  width:18vw;
  height:18vw;
 }

 .products-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:1% 5%;
}
footer .fab{
   text-align: center;
    
}
   footer .me{
    padding-top: 5vh;
   }
  footer .socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mob-cart-btn{
    height: 10vw;
    width:10vw;
    display: inline;
    position: fixed;
    right: 5%;
    bottom: 5%;
    background-color: #012325;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

 .mob-cart-btn {
    color: #f39c12;
    padding: 3px;
    text-decoration: none;
 }
.cart-container{
  width: 100vw;
  height: 100vh;
  z-index: 6;
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
      background:linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.cart{
  width: 90vw;
  height: 70vh;
  background-color: #f8dec7;
  border-radius: 20px;

}
 .sidenav{
    display: none;
    background-color: #042b2e;
    width: 50%;
    height: 50vh;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 5vw;
    border-radius: 0 0 0 20px ;
    text-align:left;
 }

 .sidenav ul{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    list-style: none;
 }
 
 .sidenav ul a{
   text-decoration: none;
   color: #f8dec7;
   font-size: large;
 }

 .sidenav .close-icon{
    color: #f8dec7;
 }
}

/* ✅ Small devices (larger phones) */
@media (max-width: 640px) {
  /* Styles for bigger phones like iPhone 13, Pixel 7 */
   .navbar input{
    display: none;
  }

  .navbar ul {
    display: none;
  }

  .cart-btn{
    display: none;
  }
  
  .navbar{
    justify-content: space-between;
    
  }
  
  .navbar .ham{
    display: inline;
        color: #012325;
    font-size: 30px;
        padding: 4px 6px;
    border-radius: 4px;
    }
    
     .navbar .ham:hover{
        color: #f8dec7;
        background-color:#042b2e; 
    }
    
.hero{
    width: 100%;
    height: 95vh;
   
}
 .hero .text{

  font-size: 3em;
 }

 .hero p{
  font-size: 0.6em;
 }

 .products-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:1% 5%;
}
footer .fab{
   text-align: center;
    
}
   footer .me{
    padding-top: 5vh;
   }
  footer .socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mob-cart-btn{
    display: inline;
    position: fixed;
    right: 5%;
    bottom: 3%;
    background-color: #012325;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    text-decoration: none;
    height: 10%;
    width:15%;
}

 .mob-cart-btn i{
    color: #f39c12;
    padding: 3px;
    text-decoration: none;
 }

 .sidenav{
    display: none;
    background-color: #042b2e;
    width: 50%;
    height: 50vh;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 5vw;
    border-radius: 0 0 0 20px ;
    text-align:left;
 }

 .sidenav ul{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    list-style: none;
 }
 
 .sidenav ul a{
   text-decoration: none;
   color: #f8dec7;
   font-size: large;
 }

 .sidenav .close-icon{
    color: #f8dec7;
 }
}

/* ✅ Medium devices (tablets) */
@media (max-width: 768px) {
  /* Styles for iPads, 8" tablets, Kindle */
}

/* ✅ Large tablets / small laptops */
@media (max-width: 800px) {
  /* Optional overlap with tablets in landscape */
}